
.container {
  background-color: #6e988c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

.section h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0 0  0;
}

.column p {
  font-weight: 500;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.column span a {
  color:#E3BD86;
  text-decoration: underline;
  cursor: pointer;
}

.column span a:hover {
  color: #0E3026;
}

form.card {
  background-color: #6e988c;
  margin-top: 1rem;
  width: 400px;
  padding: 20px;
}

mat-form-field {
  height: 6rem;
  width: 600px;
  padding: 0.5rem 1rem;

}

.input-box{/*caja label text ye imput */
  margin:0.5rem 0;
  display: flex;
  width: 100%;
  background: #6e988c;
}

mat-label{  /*texto label*/
  color: #19281f;
  height: 70px;
  font-size: 20px;
  padding: 30px;
  font-weight: bold;
  width: 40px;
  margin-right: 40px;
  font-family: 'Overpass', sans-serif;
}

.input-box input{
  background: #fbe3c0;
  border-radius: 62px;
  height: 1rem;
  padding: 0.5rem 1rem;
  width: 90%;
  margin-bottom: 1rem;
  border: none; /* Eliminar el borde predeterminado */
  outline: none; /* Eliminar el contorno al hacer clic */
}
.input-box input:focus {
  outline: none;
}

button {
  background: #d3912f;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: .5rem 3rem;
  margin: auto;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #d3912f;
  color: #000000;
  transform: scale(1.2);
}

@media (max-width: 900px){
  .container{
    display: flex;
    align-items: center;
  }
  .input-box{
    flex-direction: row;
    justify-content:space-between;
    color: #0E3026;
    height: 120px;
  }


  mat-label{
    color: #0E3026;
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
    width: 40px;
    margin-right: 40px;
    font-family: 'Overpass', sans-serif;
  }
}
