<app-header></app-header>
<div class="content-add-post">
  <form (ngSubmit)="singInAccount()" class="form-add-post">
    <a href="register">create account</a>
    <div class="add-post-right">
      <!-- Título del post (podrías agregar más campos si es necesario) -->
      <div class="post-title">
        <mat-form-field class="full-width">
          <input matInput placeholder="Login" [(ngModel)]="singIn.username" name="postTitle" required>
        </mat-form-field>
      </div>
      <div class="post-description">
        <!-- Descripción del post -->
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" [(ngModel)]="singIn.password" name="postDescription" required>
        </mat-form-field>
      </div>

<div class="container">
  <div class="section">
    <h3>SIGN IN</h3>
    <form class="card" (ngSubmit)="singInAccount()">


        <div class="input-box">
          <mat-label>Email address</mat-label>
          <mat-form-field >
            <input matInput type="email" placeholder="Email" formControlName="email" [(ngModel)]="singIn.username" name="Email" required>
          </mat-form-field>
        </div>

        <div class="input-box">
          <mat-label>Password</mat-label>
          <mat-form-field >
            <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="singIn.password" name="Password" required>
          </mat-form-field>
        </div>

        <div class="column">
          <p><span><a routerLink="/register">Forgot your Password?</a> </span>  </p>  <!-- cambiar direccion -->
          <p>No Account Yet? <span><a routerLink="/register">Create Account</a> </span> </p>
        </div>

        <div class="content-button">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>

    </form>
  </div>
</div>


