<div class="content-add-post">
  <form (ngSubmit)="singInAccount()" class="form-add-post">
    <a href="register">create account</a>
    <div class="add-post-right">
      <!-- Título del post (podrías agregar más campos si es necesario) -->
      <div class="post-title">
        <mat-form-field class="full-width">
          <input matInput placeholder="Login" [(ngModel)]="singIn.username" name="postTitle" required>
        </mat-form-field>
      </div>
      <div class="post-description">
        <!-- Descripción del post -->
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" [(ngModel)]="singIn.password" name="postDescription" required>
        </mat-form-field>
      </div>

      <!-- Botón para enviar el post -->
      <div class="content-button">
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </div>
  </form>
</div>


