
<div class="content-add-post">
  crear cuenta
  <form (ngSubmit)="registerAccount()" class="form-add-post">
    <div class="add-post-right">
      <!-- Título del post (podrías agregar más campos si es necesario) -->
      <div class="post-title">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" [(ngModel)]="singUpM.username" name="postTitle" required>
        </mat-form-field>
      </div>
      <div class="post-description">
        <!-- Descripción del post -->
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" [(ngModel)]="singUpM.password" name="postDescription" required rows="8" ></textarea>
        </mat-form-field>
      </div>

      <!-- Botón para enviar el post -->
      <div class="content-button">
        <button type="submit" mat-raised-button color="primary">Create Publication</button>
      </div>
    </div>
  </form>
</div>
