<div class="appointment">
  <div class="appointment_title">
    <div>
      <h2>Architect contract</h2>
      <p>I,<strong> Leonardo</strong>, a student of architecture, request the services of mentor <strong>Jose</strong> with the following objective</p>
    </div>

    <img src="https://media.discordapp.net/attachments/1149549726748921942/1149581967562641489/387fa9d53d55476ab4f2bbe3bc4af6b3_4.png?ex=656973a3&is=6556fea3&hm=b7be4d043109fdd7967683e89ee5dae9edb6f35dc764454b629c4ace50088af8&=&width=250&height=250">
  </div>
  <div class="appointment_info">
    <p><strong>Description:</strong> Helpp me!!! :c</p>

    <p><strong>Student: </strong> Leonardo</p>
    <p><strong>Mentor: </strong> Jose</p>
    <p>Fecha: 21/11/2023</p>
  </div>
  <div class="appointment_button">
    <button class="hireB">hire</button>
    <button class="cancelB">cancel</button>
  </div>

</div>
