<div class="main-container">
  <div class="container">
    <div class="centered">
      <div>
        <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1155205929395036292/f.png" class="circular-image">
      </div>
      <div>
        <button mat-raised-button>Hire</button>
      </div>
    </div>
  </div>
  <div class="chat-container">
    <mat-card class="chat">
      <mat-card-content>
        <div class="chat-content">
          <div class="message">
            <mat-card>
              <mat-card-content>
                <p>Incredible work, it helped me a lot in my final project, thank you from the bottom of my heart.</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="image">
            <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1155207975938568324/hombre-estudiante-universitario.png" width="34">
          </div>
        </div>
        <mat-form-field class="textoc">
          <mat-label>Escribir</mat-label>
          <textarea matInput placeholder="Escribir algo"></textarea>
        </mat-form-field>
        <button mat-raised-button>Send</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
