.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
}

.card {
  margin: 30px;
  width: calc(33.33% - 100px);
  height: 550px;
}

.card-actions {
  display: flex;
  justify-content: space-evenly;
}

.card-actions button {
  flex: 1;
  margin: 5px;
}

.y-button {
  background-color: #e3bd86;
  color: white;
  margin-right: 10px
}
.y-button:hover{
  background: #d3912f;
  color: #000000;
  transform: scale(1.02);
}

.ye-button {
  background-color: #E3BD86;
  color: white;
  margin-right: 10px
}
.ye-button:hover{
  background: #d3912f;
  color: #000000;
  transform: scale(1.02);
}

.card-title {
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.card-content {
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;

  }

  .card-actions {
    flex-direction: column;
    justify-content:space-between;
    height: 80px;
    display: inline-flex;
    flex: 1 0 auto;
    align-items: center;
  }

  .card-actions button {
    margin: 5px;
  }
}
