<mat-card class="card-publication">

  <img src="https://cdn.discordapp.com/attachments/960601728330395718/1156442445479952464/Maqueta-Hyatt2.png?ex=6514fc74&is=6513aaf4&hm=07b964c08c27b0e25368b4b7dd94b1728a7404603e7e26ef0641db59b151171e&" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      @JuanX_24
    </p>
  </mat-card-content>
  <mat-card-actions class="align-center">
    <button mat-icon-button color="white" aria-label="Share">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button color="white" aria-label="more_vert">
      <mat-icon>more_vert</mat-icon>
    </button>
    <a href="view" class="link"><mat-icon>rate_review</mat-icon></a>

  </mat-card-actions>
</mat-card>
