<mat-card class="card-publication">

  <img src="https://cdn.discordapp.com/attachments/1149549727197696111/1162962783458054195/d61697d5551718a1f624899211aed581.png?ex=653dd87e&is=652b637e&hm=8c0d1459e2c215ffa906bb78afb2c972bcc09a064eb7f1e31da76baa417072d7&" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      @JuanX_24
    </p>
  </mat-card-content>
  <mat-card-actions class="align-center">
    <button mat-icon-button color="white" aria-label="Share">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button color="white" aria-label="more_vert">
      <mat-icon>more_vert</mat-icon>
    </button>
    <a href="view" class="link"><mat-icon>rate_review</mat-icon></a>

  </mat-card-actions>
</mat-card>
