<body>
<nav class="navbar">
    <div class="navbarBtn">
        <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468488865583124/logo.png?ex=651514b5&is=6513c335&hm=0817496362689c55a6d20a282be1d298ec2fe43e4117fb0cf48407d61f68b64e&" alt="Logo-image" class="navbarLogo">
    </div>
    <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468536605167646/menu.png?ex=651514c1&is=6513c341&hm=f47e34ef0bf9698406bfa87ce2395d78e16580806ae81446aa42d7879676909d&" alt="menu-image" class="menu">
    <ul class="navbarLinks">
        <li id="link1" class="navbarElementItem"><a href="#home">HOME</a></li>
        <li id="link2" class="navbarElementItem"><a href="#knowUs">KNOW US</a></li>
        <li id="link3" class="navbarElementItem"><a href="#services">SERVICES</a></li>
        <li id="link4" class="navbarElementItem"><a href="#contact">CONTACT US</a></li>
    </ul>
    <ul class="menuLinks">
        <li class="menuItem navbarElementItem"><a href="#home">HOME</a></li>
        <li class="menuItem navbarElementItem"><a href="#knowUs">KNOW US</a></li>
        <li class="menuItem navbarElementItem"><a href="#services">SERVICES</a></li>
        <li class="menuItem navbarElementItem"><a href="#contact">CONTACT US</a></li>
    </ul>
</nav>

<header>
    <section class="hero" id="home">
        <h1>""Empowering Your Architectural Journey, Step by Step""</h1>
        <div class="photo-text">
            <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468602401214464/profesor.jpg?ex=651514d0&is=6513c350&hm=0b8e55f83f69411342b56cdaf7b326a984c25fea0556f5016b29f85fc4610e66&" class="imageHero">
            <div class="textButton">
                <h3>SELECT YOUR FAVORITE TEACHER NOW!!</h3>
                <p>Delivering personalized architecture advisory services for university students, assisting them in overcoming academic challenges and unlocking their full potential</p>
                <a href="login"><button class="btn">Subscribe now!!</button></a>
            </div>
        </div>

    </section>
</header>

<section id="knowUs">
    <h1 class="title">Know Us</h1>
    <section class="cards">
        <div class="cardInfo">
            <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468451926343730/herramientas.jpg?ex=651514ad&is=6513c32d&hm=3c37c453f6207db75e7ae418a88665de99fa5f10bf636dc594f9372888a9beba&">
            <div class="text">
                <h2 >Available Courses</h2>
                <a class="read-more" href=""> Read More > </a>
            </div>
        </div>

        <div class="cardInfo">
            <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468569425588244/metodos.png?ex=651514c9&is=6513c349&hm=ff2a9f18d8cfa687f103fb43063ac24cc673ae335fe2f84fa9ddf83f1c9a116d&" >
            <div class="text">
                <h2>Check your doubts</h2>
                <a class="read-more" href=""> Read More > </a>
            </div>
        </div>

        <div class="cardInfo">
            <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468588048306176/Omnichannel.png?ex=651514cd&is=6513c34d&hm=6f17aab88fa68ee19b768bd27c89d2e7bc39cb555384419175ccbe1b1a75ea3c&" >
            <div class="text">
                <h2>Contact forms</h2>
                <a class="read-more" href=""> Read More > </a>
            </div>
        </div>
    </section>
</section>
<section id="information">

    <section class="icon">
        <p>+50</p>
        <i class="fa fa-chalkboard-user" style="font-size:4vw;"></i>
        <p>Certified Teachers</p>
    </section>

    <section class="icon">
        <p>+2000</p>
        <i class="fa fa-user-graduate" style="font-size:4vw;"></i>
        <p>Satisfied Students</p>
    </section>

    <section class="icon">
        <p>1</p>
        <i class="fa fa-school" style="font-size:4vw;"></i>
        <p>Year of Experience</p>
    </section>

</section>



<section id="services">
    <br>
    <h2 class="sectionTitle">STUDENT SERVICES</h2>
    <br>
    <div class="filters">
        <div class="filter">
            <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468514425671730/Mejores-plataformas-de-cursos.jpg?ex=651514bb&is=6513c33b&hm=8287feccb132bde134f32371065f45f4cb3e2904d5c28182308f5d68857f7573&" >
            <h2>BOOK YOUR STUDY<br>SESSIONS</h2>
        </div>
        <div class="filter">
            <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468430619279420/clase-virtual.jpg?ex=651514a8&is=6513c328&hm=9762ed26d86572f6ba9fdfae567bfb88caedadffdc4558d5add9869969ea47ac&" >
            <h2>SEARCH YOUR <br> FAVORITE TEACHERS</h2>
        </div>
    </div>
    <div class="button-container">
        <button class="centered-button">Register to schedule your appointment</button>
    </div>
</section>

<section id="tutors">
    <br>
    <div class="titleBackground">
        <h2>Services for Teachers</h2>
    </div>
    <br>
    <div class="mainContainer">
        <div class="mediaContainer">
            <div class="feature">
                <div class="imgContainer">
                    <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468554137346048/metodo-de-pago.png?ex=651514c5&is=6513c345&hm=af9364ea153130b407a5496844fca8b1d057a7f9cbd24048dcb83ffe6abb45b6&" >
                </div>
                <h3>CHARGE FOR YOUR CLASSES OR HOMEWORKS</h3>
            </div>

            <div class="feature">
                <div class="imgContainer">
                    <img src="https://cdn.discordapp.com/attachments/1149549727197696110/1156468397232623616/calendario.png?ex=651514a0&is=6513c320&hm=4f7551097759c0f628a08e28562ab685f20a9049cf6cc61a6999175c64667e6b&">
                </div>
                <h3>SEE YOUR SCHEDULE</h3>
            </div>
        </div>
        <div class="button-container">
            <button class="centered-button">CONNECT WITH THOUSANDS OF STUDENTS</button>
        </div>
    </div>
</section>

<section id="aboutUs">
    <div class="titleBackground">
        <h2>US</h2>
    </div>

    <div class="mainContainer">
        <div class="videoSection">
            <h3>About the Product</h3>

            <div class="videoFrame">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/4QXESNgtsq8?si=mP5NLsFfKHxKSOId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="videoSection">
            <h3>About the Team</h3>

            <div class="videoFrame">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/4QXESNgtsq8?si=mP5NLsFfKHxKSOId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>



<footer id="contact">

    <div class="titleBackground">
        <h2>CONTACT US</h2>
    </div>


    <div class="container-footer-all">

        <div class="container-body">

            <div class="column2">

                <h1>Contact</h1>
                <div class="row">
                    <i class="fa fa-whatsapp"></i>
                    <label>987 874 092</label>
                </div>
                <div class="row">
                    <i class="fa fa-at"></i>
                    <label>arquimentor@gmail.com</label>
                </div>
                <div class="rowsocial">
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                    <i class="fa fa-linkedin fa-2x"></i>
                </div>

            </div>


            <div class="column1">
                <h1>About us</h1>

                <p style="text-align: justify;">
                    We are an emerging startup with significant growth prospects. In the initial phase, our user base may be limited, but our commitment and focus lie in leveraging the potential of technologies to expand our reach. Our current mission revolves around simplifying the process of aiding students who encounter academic difficulties, empowering them to elevate their performance and meet their educational goals. We will create a web application designed to assist students in locating teachers or mentors who specialize in the subjects they want to master and enhance about architecture. Correspondingly, our vision is to establish ourselves as a prominent solution for student support.
                </p>

            </div>

        </div>

    </div>

    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                © 2023 All rights reserved | <a href="">OpenDevelopers ArquiMentor</a>
            </div>

        </div>

    </div>

</footer>

</body>
