.view-p{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.Background{
  background-color: beige;
  width: 80%;
}

.botones{
  display: inline-block;
  margin-right: 300px;
  height: 60px;
  width: 240px;
}

.fotocom{
  margin-right: 480px;
}
