<div class="view-p">
  <mat-card class="Background">
    <mat-card-content>
      <div style="display:flex; flex-direction:column;">
        <div style="display:flex; flex-direction:row; align-items: center; margin-bottom: 20px;">
          <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1154788484515627109/image.png" style="float:left; margin-right:20px; width: 670px;">
          <div style="display:flex; flex-direction:column;">
            <p style="font-size: 24px;">Description: A model made in the X project, winner of the Y event, with plans for sale for study and improvements.</p>
            <div style="display:flex; flex-direction:row; justify-content: flex-end; margin-top: 20px;">
              <button class="botones" mat-raised-button color="primary">View Profile</button>
              <button class="botones" mat-raised-button color="primary">Start Call</button>
            </div>

            <div style="margin-top: 30px;"></div>

            <div style="display:flex; flex-direction:row; justify-content: flex-end;">
              <div class="fotocom" style="display: flex; align-items: center;">
                <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1154819944102502479/image.png" width="120px" style="margin-right: 70px;">
                <div style="text-align: center">
                  <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1154821128171302993/image.png" width="120px" style="margin-right: 20px;">
                </div>
              </div>
            </div>

            <div style="display:flex; flex-direction:row; justify-content: flex-end; margin-top: 20px;">
              <div class="fotocom" style="display: flex; align-items: center;">
                <div style="text-align: center">
                  <p style="font-size: 30px; margin-right: 50px;">65 comentarios</p>
                </div>
                <div style="text-align: center">
                  <p style="font-size: 30px; margin-right: 20px;">35 usuarios</p>
                </div>
              </div>
            </div>

            <div style="margin-top: 30px;"></div>

          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div style="display: flex;">
        <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1154815819994386523/image.png" width="70px" style="margin-right: 20px;">
        <div style="text-align: center;">
          <p style="font-size: 30px;">350</p>
        </div>
        <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1154816138572746892/image.png" width="70px" style="margin-left: 20px;">
        <div style="text-align: center;">
          <p style="font-size: 30px;">50 El ultimo mes</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div style="display: flex;">
        <img src="https://cdn.discordapp.com/attachments/1149190528756363337/1154815460840308856/image.png" width="70px" style="margin-right: 20px;">
        <div style="text-align: center;">
          <p style="font-size: 30px;">@JuanX_24</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

