
.subscription-section {
  background-color: #e1bc85;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
}

.title {
  font-size: 45px;
  padding: 30px 0;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle{
  padding: 40px 0;
  font-size: 20px;
  text-align: center;
  background-color: #6d978b;
  margin: 0;
}

.benefits {

  display: flex;
  justify-content: space-between;
}

.benefit {
  padding: 30px;
  flex: 1;
  margin: 10px;
}

.benefit img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.benefit-text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.subscription{
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.subscription-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subscription-price {
  font-size: 28px;
  color: #007bff;

  margin: 30px 0;
}

.subscription-features {
  list-style: none;
  padding: 5px 0;
}

.subscription-features li {
  margin: 15px 0;
}

.subscription-button {
  display: block;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin: 20px auto;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #0056b3;
}
